USE [master]
GO
/****** Object:  Database [ShopOnlineMobie]    Script Date: 1/15/2024 9:00:16 PM ******/
CREATE DATABASE [ShopOnlineMobie]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopOnlineMobie', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShopOnlineMobie.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopOnlineMobie_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShopOnlineMobie_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopOnlineMobie].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopOnlineMobie]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/15/2024 9:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 1/15/2024 9:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 1/15/2024 9:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 1/15/2024 9:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 1/15/2024 9:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 1/15/2024 9:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 1/15/2024 9:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[BinhLuanID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](128) NULL,
	[MaSanPham] [nvarchar](10) NULL,
	[UserName] [nvarchar](256) NULL,
	[NoiDung] [text] NULL,
	[Ngay] [datetime] NULL,
	[PhanHoiID] [int] NULL,
	[LuotLike] [int] NULL,
 CONSTRAINT [PK_BinhLuan] PRIMARY KEY CLUSTERED 
(
	[BinhLuanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoNhoTrong]    Script Date: 1/15/2024 9:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoNhoTrong](
	[MaBoNhoTrong] [nvarchar](50) NOT NULL,
	[DungLuongBoNho] [nchar](10) NULL,
 CONSTRAINT [PK_BoNhoTrong] PRIMARY KEY CLUSTERED 
(
	[MaBoNhoTrong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHinh]    Script Date: 1/15/2024 9:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinh](
	[CauHinhID] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [nvarchar](10) NULL,
	[ManHinh] [nvarchar](max) NULL,
	[MaHeDieuHanh] [nvarchar](50) NULL,
	[CameraSau] [nvarchar](max) NULL,
	[CameraTruoc] [nvarchar](max) NULL,
	[CPU] [nvarchar](max) NULL,
	[MaRam] [nvarchar](50) NULL,
	[MaBoNhoTrong] [nvarchar](50) NULL,
	[TheSim] [nvarchar](max) NULL,
	[DungLuongPin] [nvarchar](max) NULL,
	[ThietKe] [nvarchar](max) NULL,
	[DungLuongBoNho] [nchar](10) NULL,
	[TenHeDieuHanh] [nvarchar](255) NULL,
	[DungLuongRam] [nvarchar](100) NULL,
 CONSTRAINT [PK_CauHinh] PRIMARY KEY CLUSTERED 
(
	[CauHinhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 1/15/2024 9:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[IdGH] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](128) NULL,
	[ThongTinKHID] [int] NULL,
	[MaSanPham] [nvarchar](10) NULL,
	[SoLuong] [int] NULL,
	[TongTien] [int] NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[IdGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeDieuHanh]    Script Date: 1/15/2024 9:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeDieuHanh](
	[MaHeDieuHanh] [nvarchar](50) NOT NULL,
	[TenHeDieuHanh] [nvarchar](255) NULL,
 CONSTRAINT [PK_HeDieuHanh] PRIMARY KEY CLUSTERED 
(
	[MaHeDieuHanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 1/15/2024 9:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[HoaDonID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](128) NULL,
	[ThongTinKHID] [int] NULL,
	[NguoiDat] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[SDT] [numeric](18, 0) NULL,
	[MaSanPham] [nvarchar](10) NULL,
	[SoLuong] [int] NULL,
	[TongTien] [int] NULL,
	[Gia] [int] NULL,
	[TenSanPham] [nvarchar](max) NULL,
	[HinhChinh] [nvarchar](200) NULL,
 CONSTRAINT [PK_HoaDon_1] PRIMARY KEY CLUSTERED 
(
	[HoaDonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 1/15/2024 9:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoaiSanPham] [nvarchar](200) NOT NULL,
	[TenLoaiSanPham] [nvarchar](50) NULL,
	[TinhTrang] [nchar](10) NULL,
 CONSTRAINT [PK_LoaiSanPham] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaSanXuat]    Script Date: 1/15/2024 9:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaSanXuat](
	[MaNhaSanXuat] [nvarchar](200) NOT NULL,
	[TenNhaSanXuat] [nvarchar](50) NULL,
	[TinhTrang] [nchar](10) NULL,
 CONSTRAINT [PK_NhaSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaNhaSanXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanHoiBL]    Script Date: 1/15/2024 9:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanHoiBL](
	[PhanHoiID] [int] IDENTITY(1,1) NOT NULL,
	[BinhLuanID] [int] NULL,
	[UserID] [nvarchar](128) NULL,
	[UserName] [nvarchar](256) NULL,
	[NoiDungPhanHoi] [text] NULL,
	[Ngay] [date] NULL,
 CONSTRAINT [PK_PhanHoiBL] PRIMARY KEY CLUSTERED 
(
	[PhanHoiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ram]    Script Date: 1/15/2024 9:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ram](
	[MaRam] [nvarchar](50) NOT NULL,
	[DungLuongRam] [nvarchar](100) NULL,
 CONSTRAINT [PK_Ram] PRIMARY KEY CLUSTERED 
(
	[MaRam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 1/15/2024 9:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [nvarchar](10) NOT NULL,
	[IdGH] [int] NULL,
	[MaLoaiSanPham] [nvarchar](200) NULL,
	[MaNhaSanXuat] [nvarchar](200) NULL,
	[TenSanPham] [nvarchar](max) NULL,
	[HinhChinh] [nvarchar](200) NULL,
	[Hinh1] [nvarchar](200) NULL,
	[Hinh2] [nvarchar](200) NULL,
	[Hinh3] [nvarchar](200) NULL,
	[Hinh4] [nvarchar](200) NULL,
	[Gia] [int] NULL,
	[SoLuong] [int] NULL,
	[SoLuongDaBan] [int] NULL,
	[VideoSP] [text] NULL,
	[LuotView] [int] NULL,
	[TinhTrang] [nchar](10) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinKhachHang]    Script Date: 1/15/2024 9:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinKhachHang](
	[ThongTinKHID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](128) NULL,
	[NguoiDat] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[SDT] [varchar](15) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[ThongTinKHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'60c48b2d-e570-4c5f-b074-77d05c333b7f', N'Admin')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'b7f00297-2542-4903-b55d-796d7eb0807d', N'60c48b2d-e570-4c5f-b074-77d05c333b7f')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'20aea0d4-fa1f-4f9d-b336-d99f8066a271', N'hanhphuc95@gmail.com', 0, N'AMDXIjeFqNB2L5AGtb4Z9qXH/nD6J965go5VygInNWS1fuujDaJvdummAMc9AS2vJQ==', N'fd8be199-57b6-4628-9c3d-beade192e246', NULL, 0, 0, NULL, 1, 0, N'Hanh')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'250517d7-a8f3-4209-acdb-8b085e6e1779', N'quanghanhphuc95@gmail.com', 0, N'AHyNYK4Zw3ezbHag607fB6hlY/yYWIuxewfwWjj0duETQBNuZCRPaLA55DeDHgYjTg==', N'392f3aec-ac66-4232-8eb6-320325fc2261', NULL, 0, 0, NULL, 1, 0, N'phuc')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'b7f00297-2542-4903-b55d-796d7eb0807d', N'admin@gmail.com', 0, N'ABoaiXrGMs6LixZICnSnintmpPPvO0b03WA6hRXfOqYzsPBsfUDBzQNMtsZ9vxXsCA==', N'94e9e7f3-1bd8-4809-823e-84c1cd4c6dea', NULL, 0, 0, NULL, 0, 0, N'admin@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[BinhLuan] ON 

INSERT [dbo].[BinhLuan] ([BinhLuanID], [UserID], [MaSanPham], [UserName], [NoiDung], [Ngay], [PhanHoiID], [LuotLike]) VALUES (1, N'250517d7-a8f3-4209-acdb-8b085e6e1779', N'SP1', N'phuc', N'oi ', CAST(N'2024-01-07T20:48:06.143' AS DateTime), NULL, 4)
SET IDENTITY_INSERT [dbo].[BinhLuan] OFF
GO
INSERT [dbo].[BoNhoTrong] ([MaBoNhoTrong], [DungLuongBoNho]) VALUES (N'BN1', N'64GB      ')
INSERT [dbo].[BoNhoTrong] ([MaBoNhoTrong], [DungLuongBoNho]) VALUES (N'BN2', N'128GB     ')
INSERT [dbo].[BoNhoTrong] ([MaBoNhoTrong], [DungLuongBoNho]) VALUES (N'BN3', N'256GB     ')
GO
SET IDENTITY_INSERT [dbo].[CauHinh] ON 

SET IDENTITY_INSERT [dbo].[CauHinh] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([IdGH], [UserID], [ThongTinKHID], [MaSanPham], [SoLuong], [TongTien]) VALUES (89, N'20aea0d4-fa1f-4f9d-b336-d99f8066a271', NULL, N'SP2', 1, 2680000)
SET IDENTITY_INSERT [dbo].[GioHang] OFF
GO
INSERT [dbo].[HeDieuHanh] ([MaHeDieuHanh], [TenHeDieuHanh]) VALUES (N'HDH1', N'Android')
INSERT [dbo].[HeDieuHanh] ([MaHeDieuHanh], [TenHeDieuHanh]) VALUES (N'HDH2', N'iOS')
INSERT [dbo].[HeDieuHanh] ([MaHeDieuHanh], [TenHeDieuHanh]) VALUES (N'HDH3', N'KaiOS')
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([HoaDonID], [UserID], [ThongTinKHID], [NguoiDat], [DiaChi], [SDT], [MaSanPham], [SoLuong], [TongTien], [Gia], [TenSanPham], [HinhChinh]) VALUES (1, N'fac422d3-3422-49b5-86e2-247bb5406429', 1, N'Nguyễn Văn Trị', N'KP7 - TT Phước Dân - Ninh Phước - Ninh Thuận', CAST(798549035 AS Numeric(18, 0)), N'SP3', 1, 4750000, 4750000, N'Điện thoại Realme 10 Pro Plus 5G (Dimensity 1080 -', N'Điện_thoại_Realme_10_Pro_Plus_5G_(Dimensity_1080_-_Images1.png')
INSERT [dbo].[HoaDon] ([HoaDonID], [UserID], [ThongTinKHID], [NguoiDat], [DiaChi], [SDT], [MaSanPham], [SoLuong], [TongTien], [Gia], [TenSanPham], [HinhChinh]) VALUES (2, N'fac422d3-3422-49b5-86e2-247bb5406429', 1, N'Nguyễn Văn Trị', N'KP7 - TT Phước Dân - Ninh Phước - Ninh Thuận', CAST(798549035 AS Numeric(18, 0)), N'SP4', 3, 74550000, 24850000, N'Điện thoại iPhone 14 Pro Chính hãng VN/A', N'Điện_thoại_iPhone_14_Pro_Chính_hãng_VNA_Images1.png')
INSERT [dbo].[HoaDon] ([HoaDonID], [UserID], [ThongTinKHID], [NguoiDat], [DiaChi], [SDT], [MaSanPham], [SoLuong], [TongTien], [Gia], [TenSanPham], [HinhChinh]) VALUES (3, N'fac422d3-3422-49b5-86e2-247bb5406429', 1, N'Nguyễn Văn Trị', N'KP7 - TT Phước Dân - Ninh Phước - Ninh Thuận', CAST(798549035 AS Numeric(18, 0)), N'SP1', 1, 19250000, 19250000, N'Điện thoại Samsung Galaxy S23 Ultra (Chính hãng - ', N'Điện_thoại_Samsung_Galaxy_S23_Ultra_(Chính_hãng_-__Images1.png')
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
INSERT [dbo].[LoaiSanPham] ([MaLoaiSanPham], [TenLoaiSanPham], [TinhTrang]) VALUES (N'LSP01', N'Cao Cấp', N'0         ')
INSERT [dbo].[LoaiSanPham] ([MaLoaiSanPham], [TenLoaiSanPham], [TinhTrang]) VALUES (N'LSP02', N'Trung Bình', N'0         ')
INSERT [dbo].[LoaiSanPham] ([MaLoaiSanPham], [TenLoaiSanPham], [TinhTrang]) VALUES (N'NSX04', N'Bình Dân', N'0         ')
GO
INSERT [dbo].[NhaSanXuat] ([MaNhaSanXuat], [TenNhaSanXuat], [TinhTrang]) VALUES (N'NSX1', N'Xiaomi', N'0         ')
INSERT [dbo].[NhaSanXuat] ([MaNhaSanXuat], [TenNhaSanXuat], [TinhTrang]) VALUES (N'NSX10', N'LG', N'0         ')
INSERT [dbo].[NhaSanXuat] ([MaNhaSanXuat], [TenNhaSanXuat], [TinhTrang]) VALUES (N'NSX11', N'SamSung', N'0         ')
GO
SET IDENTITY_INSERT [dbo].[PhanHoiBL] ON 

INSERT [dbo].[PhanHoiBL] ([PhanHoiID], [BinhLuanID], [UserID], [UserName], [NoiDungPhanHoi], [Ngay]) VALUES (1, 1, N'fac422d3-3422-49b5-86e2-247bb5406429', N'Nguyễn Văn Trị', N'Chào th?ng ? trên', CAST(N'2024-01-07' AS Date))
SET IDENTITY_INSERT [dbo].[PhanHoiBL] OFF
GO
INSERT [dbo].[Ram] ([MaRam], [DungLuongRam]) VALUES (N'Ram1', N'3GB')
INSERT [dbo].[Ram] ([MaRam], [DungLuongRam]) VALUES (N'Ram2', N'4GB')
INSERT [dbo].[Ram] ([MaRam], [DungLuongRam]) VALUES (N'Ram3', N'6GB')
GO
INSERT [dbo].[SanPham] ([MaSanPham], [IdGH], [MaLoaiSanPham], [MaNhaSanXuat], [TenSanPham], [HinhChinh], [Hinh1], [Hinh2], [Hinh3], [Hinh4], [Gia], [SoLuong], [SoLuongDaBan], [VideoSP], [LuotView], [TinhTrang], [GhiChu]) VALUES (N'SP1', NULL, N'LSP01', N'NSX11', N'Điện thoại Samsung Galaxy S23 Ultra (Chính hãng - VN)', NULL, NULL, NULL, NULL, NULL, 19250000, 120, 0, NULL, 0, N'0         ', N'New')
INSERT [dbo].[SanPham] ([MaSanPham], [IdGH], [MaLoaiSanPham], [MaNhaSanXuat], [TenSanPham], [HinhChinh], [Hinh1], [Hinh2], [Hinh3], [Hinh4], [Gia], [SoLuong], [SoLuongDaBan], [VideoSP], [LuotView], [TinhTrang], [GhiChu]) VALUES (N'SP10', NULL, N'LSP02', N'NSX10', N'LG G7', N'LG_G7_Images1.png', N'LG_G7_Images2.png', N'LG_G7_Images3.png', N'LG_G7_Images4.png', N'LG_G7_Images5.png', 2600000, 10, 0, NULL, 0, N'0         ', N'New')
INSERT [dbo].[SanPham] ([MaSanPham], [IdGH], [MaLoaiSanPham], [MaNhaSanXuat], [TenSanPham], [HinhChinh], [Hinh1], [Hinh2], [Hinh3], [Hinh4], [Gia], [SoLuong], [SoLuongDaBan], [VideoSP], [LuotView], [TinhTrang], [GhiChu]) VALUES (N'SP2', NULL, N'NSX04', N'NSX1', N'Điện thoại Xiaomi POCO C65 (Camera 50MP)', N'Điện_thoại_Xiaomi_POCO_C65_(Camera_50MP)_Images1.png', N'Điện_thoại_Xiaomi_POCO_C65_(Camera_50MP)_Images2.png', N'Điện_thoại_Xiaomi_POCO_C65_(Camera_50MP)_Images3.png', NULL, NULL, 2680000, 50, 0, NULL, 0, N'0         ', N'New')
GO
SET IDENTITY_INSERT [dbo].[ThongTinKhachHang] ON 

INSERT [dbo].[ThongTinKhachHang] ([ThongTinKHID], [UserID], [NguoiDat], [DiaChi], [SDT]) VALUES (1, N'fac422d3-3422-49b5-86e2-247bb5406429', N'Nguyễn Văn Trị', N'KP7 - TT Phước Dân - Ninh Phước - Ninh Thuận', N'0798549035')
INSERT [dbo].[ThongTinKhachHang] ([ThongTinKHID], [UserID], [NguoiDat], [DiaChi], [SDT]) VALUES (2, N'cfbbfe33-3cbd-48b7-973a-774adbe71cf3', N'Trần Đại Diện', N'Khu Đô Thị Vạn Xuân - Đường BiDup - Lạc Dương - Lâm ĐỒng', N'354622226')
INSERT [dbo].[ThongTinKhachHang] ([ThongTinKHID], [UserID], [NguoiDat], [DiaChi], [SDT]) VALUES (3, N'20aea0d4-fa1f-4f9d-b336-d99f8066a271', N'Hạnh', N'Đường Điện Biên Phủ - QL28 - Di Linh - Lâm Đồng', N'0398954932')
SET IDENTITY_INSERT [dbo].[ThongTinKhachHang] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 1/15/2024 9:00:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/15/2024 9:00:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/15/2024 9:00:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 1/15/2024 9:00:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/15/2024 9:00:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 1/15/2024 9:00:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LoaiSanPham] ADD  CONSTRAINT [DF_LoaiSanPham_TinhTrang]  DEFAULT ((0)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[NhaSanXuat] ADD  CONSTRAINT [DF_NhaSanXuat_TinhTrang]  DEFAULT ((0)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF_SanPham_Gia]  DEFAULT ((0)) FOR [Gia]
GO
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF_SanPham_SoLuongDaBan]  DEFAULT ((0)) FOR [SoLuongDaBan]
GO
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF_SanPham_LuotView]  DEFAULT ((0)) FOR [LuotView]
GO
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF_SanPham_TinhTrang]  DEFAULT ((0)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF_SanPham_GhiChu]  DEFAULT (N'New') FOR [GhiChu]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_AspNetUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_AspNetUsers]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_PhanHoiBL] FOREIGN KEY([PhanHoiID])
REFERENCES [dbo].[PhanHoiBL] ([PhanHoiID])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_PhanHoiBL]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_SanPham]
GO
ALTER TABLE [dbo].[CauHinh]  WITH CHECK ADD  CONSTRAINT [FK_CauHinh_BoNhoTrong] FOREIGN KEY([MaBoNhoTrong])
REFERENCES [dbo].[BoNhoTrong] ([MaBoNhoTrong])
GO
ALTER TABLE [dbo].[CauHinh] CHECK CONSTRAINT [FK_CauHinh_BoNhoTrong]
GO
ALTER TABLE [dbo].[CauHinh]  WITH CHECK ADD  CONSTRAINT [FK_CauHinh_HeDieuHanh] FOREIGN KEY([MaHeDieuHanh])
REFERENCES [dbo].[HeDieuHanh] ([MaHeDieuHanh])
GO
ALTER TABLE [dbo].[CauHinh] CHECK CONSTRAINT [FK_CauHinh_HeDieuHanh]
GO
ALTER TABLE [dbo].[CauHinh]  WITH CHECK ADD  CONSTRAINT [FK_CauHinh_Ram] FOREIGN KEY([MaRam])
REFERENCES [dbo].[Ram] ([MaRam])
GO
ALTER TABLE [dbo].[CauHinh] CHECK CONSTRAINT [FK_CauHinh_Ram]
GO
ALTER TABLE [dbo].[CauHinh]  WITH CHECK ADD  CONSTRAINT [FK_CauHinh_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[CauHinh] CHECK CONSTRAINT [FK_CauHinh_SanPham]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_AspNetUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_AspNetUsers]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_SanPham]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_ThongTinKhachHang] FOREIGN KEY([ThongTinKHID])
REFERENCES [dbo].[ThongTinKhachHang] ([ThongTinKHID])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_ThongTinKhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_ThongTinKhachHang] FOREIGN KEY([ThongTinKHID])
REFERENCES [dbo].[ThongTinKhachHang] ([ThongTinKHID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_ThongTinKhachHang]
GO
ALTER TABLE [dbo].[PhanHoiBL]  WITH CHECK ADD  CONSTRAINT [FK_PhanHoiBL_AspNetUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[PhanHoiBL] CHECK CONSTRAINT [FK_PhanHoiBL_AspNetUsers]
GO
ALTER TABLE [dbo].[PhanHoiBL]  WITH CHECK ADD  CONSTRAINT [FK_PhanHoiBL_BinhLuan] FOREIGN KEY([BinhLuanID])
REFERENCES [dbo].[BinhLuan] ([BinhLuanID])
GO
ALTER TABLE [dbo].[PhanHoiBL] CHECK CONSTRAINT [FK_PhanHoiBL_BinhLuan]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSanPham] FOREIGN KEY([MaLoaiSanPham])
REFERENCES [dbo].[LoaiSanPham] ([MaLoaiSanPham])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhaSanXuat] FOREIGN KEY([MaNhaSanXuat])
REFERENCES [dbo].[NhaSanXuat] ([MaNhaSanXuat])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhaSanXuat]
GO
ALTER TABLE [dbo].[ThongTinKhachHang]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinKhachHang_AspNetUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ThongTinKhachHang] CHECK CONSTRAINT [FK_ThongTinKhachHang_AspNetUsers]
GO
USE [master]
GO
