@model ShopConnection.SanPham
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<h2>Ten san Pham @Model.TenSanPham</h2>
<h2>Mã SP @Model.MaSanPham</h2>

