@model ShopConnection.ThongTinKhachHang

<p>Địa chỉ giao hàng </p>
<div>
    <h1>ten khach hang @Model.NguoiDat</h1>
    <h1>Dia chi @Model.DiaChi</h1>
    <h1>so dien thoai lien lac @Model.SDT</h1>

</div>
