@model ShopConnection.ThongTinKhachHang

<style>
    img{
        max-height:50px;
        max-width:50px;
    }
</style>

<p>Địa chỉ giao hàng </p>
<div>
    <h1>ten khach hang @Model.NguoiDat</h1>
    <h1>Dia chi @Model.DiaChi</h1>
    <h1>so dien thoai lien lac @Model.SDT</h1>

</div>
<div>
    <a href="@Url.Action("Edit","ThanhToan",new {id=Model.UserID})"><img src="~/Asset/images/edit.png.png" /></a>
</div>