

<header class="container">
    <div class="row">
        <div class="col-md-4">
            <div id="logo"><a href="@Url.Action("Index")"><img src="~/Asset/images/logo.png" /></a></div>
        </div>
        <div class="col-md-4">
            @using (Html.BeginForm("TimKiemSP", "TimKiem", FormMethod.Get))
            {
                <input type="text" name="tuKhoa" class="input-medium search-query">
                <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span>Tìm Kiếm</button>
            }

        </div>
        <div class="col-md-4">
            <div id="cart">
               
                <a class="btn btn-1" href="@Url.Action("Index","GioHang")">
                    <span class="glyphicon glyphicon-shopping-cart"></span>Giỏ Hàng  @ViewBag.TongSoLuong
                </a>
                
            </div>
        </div>
    </div>
</header>
