
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h4>Thông tin người mua hàng</h4>
@using (Html.BeginForm("Order", "ThanhToan"))
{
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="email" type="text" class="form-control" name="Name" placeholder="Name">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input id="email" type="email" class="form-control" name="Email" placeholder="Email">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
        <input id="email" type="text" class="form-control" name="DiaChi" placeholder="Địa Chỉ">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
        <input id="email" type="text" class="form-control" name="SoDT" placeholder="Số Điện Thoại">
    </div>

    <br>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
        <textarea rows="5" class="form-control" style="resize: none;" name="content"></textarea>
    </div>

    <br>

    <input type="submit" class="btn btn-success" value="Thanh toán">
}

